
.header{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}
h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
}
.address{
  max-width: 240px;
  max-height: 98px;
  justify-self: end;
}
.logo{
  width: 148px;
  height: 105px;
}
.h3-contact-info{
  margin: 1px;
}
.nav-address{
  width: 236,49;
  height: 49;
  margin: 1px;
}
.nav-link {
    padding: 20px 15px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
}

.nav-link:hover {
   text-decoration: underline;
}

.nav-link.active {
    text-decoration: underline;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 2px;
    text-decoration: underline;
}
.header__links-list{
  display: flex;
  list-style: circle;
  gap: 20px;
}

.a-contact{
  color:black;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
}
.cover{
  width: 100%;
  height: 100%;
  background-image: url(../sourse/images/0ebc4c3a92bfb672f477e421e7738fd6416ff19b.jpg);
  background-size: cover;
}
.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  color:rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  padding: 165px 50px 106px 50px;
}
.span-right{
  align-self: flex-end;
}
.span-center{
  align-self: center;
}
.span-left{
  align-self: flex-start;
}

.description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 50px;
}
.p-description{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  text-transform: uppercase;
  color:rgba(255, 255, 255, 1);
  padding-left: 50px;
  word-spacing: 15px;
}
.button-description{
  width: 256px;
  height: 51px;
  border:  2px solid white;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  text-transform: uppercase;
  color: white;

}
.lots{
  margin: 180px 24px 0px 24px;
  position: relative;
}
.title-lots{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  margin-left: 40px;

}
.lots__card-list{
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.lots__card-list-item{
  min-height: 596px;
  min-width: 334px;


}
.card-link{
  height: 100%;
}
.card{
  height: 100%;
  max-width: 334px;

}
.card-films{
  background-image: url(../sourse/images/b6c1b9c4f9bad749215d12244cdd86581803c147.jpg);
  background-size: cover;
}
.card-books{
  background-image: url(../sourse/images/5643432f06853e92f2a26a4fdddcd6a380a702f7.png);
  background-size: cover;
}
.card-images{
 background-image: url(../sourse/images/3543ee6f0852101f5ab31479457065d43c824f26.jpg);
 background-size: cover;
}
.card-title{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 22px;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: solid;
color: white;
padding: 48px 40px 0 40px;

}
.card-text{
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 20px;
color: white;
padding: 0 40px 48px 40px;
}
.h3-more{
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
}
.about{
  grid-template-columns: 1fr 3fr;
  display: grid;
  height: 100%;
  margin: 120px 24px 180px 24px;
}
.about-title{
  padding-top: 133px;
  padding-bottom: 100px;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 40px;
text-transform: uppercase;


}
.about-logo{
  padding-top: 35px;
  padding-left: 47px;
  padding-bottom: 12px;
  height: 240px;
  width: 240px;
  background-image: url(../sourse/images/logo-column.svg);
  background-size: cover;
  margin-right: 72px;
}
.about-text{
font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  padding-bottom: 20px ;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.footer-menu{
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
text-align: center;
}
.footer__links-list{
  display: flex;
  flex-direction: column;
align-content: center;
}
.footer-address{
   max-width: 240px;
  max-height: 98px;
  margin-left: 50px;
  justify-self: start;
}
.social-network-logo{
  width: 240px;
  height: 48px;
  background-size: cover;
}
.footer-list-social{
  display: flex;
  width: 240px ;
  justify-content: space-between;
  align-items: end;
}
.footer-social-icon-youtube{
  width: 48px;
  height: 48px;
  background-image: url(../sourse/images/YouTube.svg);
}
.footer-social-icon-vk{
  width: 48px;
  height: 48px;
  background-image: url(../sourse/images/VK.svg);
} 

.footer-social-icon-pintres{
  width: 48px;
  height: 48px;
  background-image: url(../sourse/images/Pinterest.svg);
}